extends layout

block content
    h1.title= title
    div.box
        form.form-inline-block.form-inline(method='GET' action='/admin/customers')
            div.form-group
                input#filter.form-control.input-md(type='text', name='filter', value=filter)
                button.btn.btn-info(type='submit') Filter
        a(href='/admin/customers/0'): img.icon-lg(src='/images/add_customer.png') 

        div.table-responsiv
            table.table.table-striped.table.bordered
                thead.thead-inverse
                    tr
                        - var filterParam = filter ? '&filter=' + filter : ''
                        th: a.simple(href='/admin/customers?orderby=lastname' + filterParam) Last Name
                        th: a.simple(href='/admin/customers?orderby=firstname' + filterParam) First Name
                        th: a.simple(href='/admin/customers?orderby=email' + filterParam) EMail
                        th.text-right Edit
                tbody
                    each customer in customers
                        tr 
                            td #{customer.lastname}
                            td #{customer.firstname} 
                            td #{customer.email} 
                            td.text-right
                                a.simple(href='/admin/customers/'+customer.id): img.icon(src='/images/edit_customer.png')
                                a.simple(href='/admin/customers#'): img.icon(src='/images/remove_customer.png') 
